<% include ../partials/header %>


<div class="form-page">

  <div class="form-nav">
    <a href="/campgrounds/<%= campground._id %>" class="ui orange button"><i class="angle double left icon"></i>Go Back</a>
  </div>


  <div class="yelp-general-form">
    <h1>Add New Comment to <%= campground.name %></h1>
    <form class="ui form" action="/campgrounds/<%= campground._id %>/comments" method="POST">
      <div class="field">
        <textarea name="comment[text]" placeholder="Write your thoughts here..."></textarea>
      </div>
      <button class="ui orange button" type="submit">Submit</button>
    </form>
  </div>
</div>

<% include ../partials/footer %>
