<% include ../partials/header %>


<div class="form-page">

  <div class="form-nav">
    <a href="/campgrounds/<%= campground._id %>" class="ui orange button"><i class="angle double left icon"></i>Go Back</a>
  </div>


  <div class="yelp-general-form">
    <h1>Add New Comment to <%= campground.name %></h1>
    <form class="ui form" action="/campgrounds/<%= campground._id %>/comments" method="POST">
      <div class="field">
        <textarea name="comment[text]" placeholder="Write your thoughts here..."></textarea>
      </div>
      <button class="ui orange button" type="submit">Submit</button>
    </form>
  </div>
</div>


<div id="editor">
  <p>Hello World!</p>
  <p>Some initial <strong>bold</strong> text</p>
  <p><br></p>
</div>

<% include ../partials/footer %>
<script src="https://cdn.quilljs.com/1.3.4/quill.js"></script>
<script src="/js/quill.js"></script>
