<% include ../partials/header %>

<h1>Add A New Comment </h1>

<form class="new-comment" action="campgrounds/show.ejs" method="post">
  <input type="text" name="author" placeholder="Whats your name?">
  <input type="text" name="text" placeholder="Add A Comment">
  <input type="submit">

</form>

<% include ../partials/footer %>
