<% include ../partials/header %>


<div class="form-page">

  <div class="form-nav">
    <a href="/campgrounds/<%= campground._id %>" class="ui secondary button">Go Back</a>
  </div>


  <div class="yelp-general-form">
    <h1>Add New Comment to <%= campground.name %></h1>
    <form class="ui form" action="/campgrounds/<%= campground._id %>/comments" method="POST">
      <div class="field">
        <input type="text" name="comment[text]" placeholder="Text">
      </div>
      <button class="ui button" type="submit">Submit</button>
    </form>
  </div>
</div>

<% include ../partials/footer %>
