<div class="editor-container">
  <div id="editor">
    <p>Hello World!</p>
    <p>This is where you can submit text to <strong>create</strong> a file!</p>
    <p><br></p>
  </div>
  <div class="editor-button-container">
    <button id="sow-submit-button" class="ui red button">Create File</button>
  </div>
</div>

<form class="" action="/sow/create %>" method="post">
  <textarea name="sowtext" rows="8" cols="80"></textarea>
  <button id="sow-submit-button">Create File</button>
</form>
