<% include ./partials/header %>
<div class="form-page">
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="testfile">
    <button>Submit</button>
  </form>

</div>

<% include ./partials/footer %>
