<% include ./partials/header %>
<div class="form-page">
  <form class="ui form file-div" action="/files/upload" method="post" enctype="multipart/form-data">
    <h1>Upload a File!</h1>
      <div class="field">
        <input type="file" name="testfile">
        <button class="ui orange button">Submit</button>
      </div>
  </form>

  <div class="button-container">
    <ul>
      <h2>Files:</h2>
      <% files.forEach(function(file){ %>
        <li>
          <a href="./files/download/<%= file.name %>" class="ui small yellow button"><%= file.name %></a>
        </li>
        <br>
      <% }) %>
    </ul>
  </div>

</div>

<% include ./partials/footer %>
