<% include ./partials/header %>
<div class="landing">
  <div class="landing-page">
    <div class="landing-title">
      <h1 class="welcome">YelpCamp</h1>
        <div class="typetext">
          <span class="write"></span>
        </div>
    </div>
    <a href="/campgrounds" class="ui big orange button" id="view-button"><i class="tree icon"></i>Get Started</a>


  </div>
</div>

<% include ./partials/footer %>
