<% include ./partials/header %>

<div class="form-nav">
  <a href="/" class="ui orange button"><i class="angle double left icon"></i>Go Back</a>
</div>


<div class="yelp-general-form">
  <h1>Login Here!</h1>
  <form class="ui form" action="/login" method="POST">
    <div class="field">
      <label>Username</label>
      <input type="text" name="username" placeholder="Username">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" name="password" placeholder="Password">
    </div>
    <button class="ui orange button" type="submit">Submit</button>
  </form>
</div>

<% include ./partials/footer %>
