<% include ./partials/header %>

<div class="form-nav">
  <a href="/" class="ui orange button"><i class="angle double left icon"></i>Go Back</a>
</div>


<div class="yelp-general-form">
  <h1>Reset Your Password!</h1>
  <form class="ui form" action="/reset/<%= token %>" method="POST">
    <div class="field">
      <label>Password</label>
      <input type="password" name="password" placeholder="New Password">
    </div>
    <div class="field">
      <label>Password Confirmation</label>
      <input type="password" name="confirm" placeholder="Confirm Password">
    </div>
    <button class="ui orange button" type="submit">Update Password</button>
  </form>
</div>


<% include ./partials/footer %>
