<% include ../partials/header %>


<div class="campgrounds-page">

  <div class="campgrounds-title">
    <div class="ui huge header">
      <h1 class="ui big header">Welcome To YelpCamp!</h1>
    </div>
    <p >View our hand-picked campgrounds from all over the world</p>
    <div class="nav-campgrounds">
      <a href="/campgrounds/new" class="ui orange button"><i class="plus icon"></i>Add a new Campground</a>
    </div>
  </div>


  <div class="ui three column grid">
    <% campgrounds.forEach(function(campground) { %>
      <div class="column" id="campground-container">
        <div class="campground-info" "ui segment">
          <img src="<%= campground.image %>">
          <h4><%= campground.name  %></h4>
          <p>
            <a href="/campgrounds/<%= campground._id %>" class="ui orange button"><i class="info circle icon"></i>More Info</a>
          </p>
        </div>
      </div>
      <% }); %>
    </div>
</div>


<% include ../partials/footer %>
