<% include ../partials/header %>

<div class="campgrounds-page">

  <div class="campgrounds-title">
    <div class="ui huge header">
      Welcome To YelpCamp!
    </div>
    <p class="index-paragraph">View our hand-picked campgrounds from all over the world!</p>
    <div class="nav-campgrounds">
      <a href="/campgrounds/new" class="huge ui orange button"><i class="plus icon"></i>Add a new Campground</a>
    </div>
  </div>

  <div class="search-form-container">
    <form action="/campgrounds" method="GET" class="ui search">
      <div class="ui icon input">
        <input type="text" name="search" palceholder="Campground search..." class="prompt"><i type="submit" class="search icon"></i>
      </div>
    </form>
  </div>


  <div class="ui three column grid">
    <% campgrounds.forEach(function(campground) { %>
      <div class="column" id="campground-container">
        <div class="campground-info" "ui segment">
          <img src="<%= campground.image %>">
          <h4><%= campground.name  %></h4>
          <p>
            <a href="/campgrounds/<%= campground._id %>" class="ui orange button"><i class="info circle icon"></i>More Info</a>
          </p>
        </div>
      </div>
      <% }); %>
    </div>
</div>


<% include ../partials/footer %>
