<div class="editor-container">
  <div class="editor-form" id="editor">
    <p>Hello World!</p>
    <p>This is where you can submit text to <strong>create</strong> a file!</p>
    <p><br></p>
  </div>
  <div class="editor-button-container">
    <!-- call function on click -->
    <button onclick="submitEditor('<%= campground.id %>')" type="submit" id="submit-details" class="ui red button">Create File</button>
  </div>
</div>

<% if(campground.detail){ %>
  <button onclick="openWindow('<%= campground.id %>', '<%= campground.detail.id %>')">View Details</button>
  <button onclick="pdf()">Download Details</button>
<% } %>

<form class="" action="/campgrounds/<%= campground.id %>/details/new %>" method="post">
  <textarea type="text" name="detail"></textarea>
  <button type="submit" class="ui red button">Create File</button>
</form>

<script src="https://cdn.quilljs.com/1.3.4/quill.js"></script>
<script src="/js/quill.js"></script>
<script src="/js/details.js"></script>
